/*OCULTAR EL SEARCH DEL HOME*/
.search-principal
{
	display: none;
}
/*OCULTAR EL SEARCH DEL HOME*/
.rslides_nav {
	color: #ecf0f1;
}
.ruleta ul li
{
	list-style: none;
	width: 100%;
}
/* INICIO: ESTILOS DEL BANNER PRINCIPAL */

.banner-principal
{
	position: relative;
	line-height: 0;
	z-index: 0;
}
.banner-principal img
{
	width: 100%;
}
.banner-principal .text-input
{
	position: absolute;
	width: 100%;
	z-index: 99;
	background: rgba(0, 0, 0, 0.58);
}
.banner-principal .text-input .text-banner
{
	margin: 0 auto;
	line-height: normal;
}
.banner-principal .text-input .text-banner h1
{
	text-align: center;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
}
.banner-principal .text-input .text-banner h2
{
	text-align: center;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
}
.banner-principal .text-input .form-search .form-content form .background-search{
	text-align: center;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.58);
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
}
.banner-principal .text-input .form-search .form-content form .background-search input{
	font-weight: 700;
	padding: 10px 15px 10px 15px;
	color: #777;
	border-color: #999;
	/*opacity: 0.95;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
	-webkit-box-shadow: inset 1px 1px 1px #ccc;
	-moz-box-shadow: inset 1px 1px 1px #ccc;
	box-shadow: inset 1px 1px 1px #ccc;
	border: 0;
}
.banner-principal .text-input .form-search
{
	width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 601px) {
	.banner-principal .text-input .form-search form
	{
		text-align: center;
		margin-top: 20px;
	}
}
@media screen and (min-width: 346px) and (max-width: 600px) {
	.banner-principal .text-input .form-search form
	{
		text-align: center;
		margin-top: 10px;
	}
}
@media screen and (max-width: 345px) {
	.banner-principal .text-input .form-search form
	{
		text-align: center;
		margin-top: 5px;
	}
}







@media screen and (min-width: 1001px) {
		.banner-principal .text-input
		{
			margin-top: 70px;
			padding-top: 10px;
		}
		.banner-principal .text-input .text-banner h1
		{
			font-size: 44px;
		}
		.banner-principal .text-input .text-banner h2
		{
			font-size: 30px;
		}
		.banner-principal .text-input .form-search .form-content form .background-search{
			width: 100%;
			padding: 12px 0;
		}
		.banner-principal .text-input .form-search .form-content form .background-search input{
			font-size: 15px;
			width: 80%;
			font-family: Helvetica, Arial, sans-serif;
		}
		.banner-principal .text-input .form-search .form-content form .summit-search
		{
			display: none;
		}
}

@media screen and (min-width: 851px) and (max-width: 1000px) {
		.banner-principal .text-input
		{
			margin-top: 40px;
			padding-top: 10px;
		}
		.banner-principal .text-input .text-banner h1
		{
			font-size: 40px;
		}
		.banner-principal .text-input .text-banner h2
		{
			font-size: 25px;
		}
		.banner-principal .text-input .form-search .form-content form .background-search{
			width: 100%;
			padding: 12px 0;
		}
		.banner-principal .text-input .form-search .form-content form .background-search input{
			font-size: 15px;
			width: 80%;
			font-family: Helvetica, Arial, sans-serif;
		}
		.banner-principal .text-input .form-search .form-content form .summit-search
		{
			display: none;
		}
}

@media screen and (min-width: 611px) and (max-width: 850px) {
		.banner-principal .text-input
		{
			margin-top: 20px;
			padding-top: 10px;
		}
		.banner-principal .text-input .text-banner h1
		{
			font-size: 35px;
		}
		.banner-principal .text-input .text-banner h2
		{
			display: none;
		}
		.banner-principal .text-input .form-search .form-content form .background-search{
			width: 100%;
			padding: 12px 0;
		}
		.banner-principal .text-input .form-search .form-content form .background-search input{
			font-size: 14px;
			width: 80%;
			font-family: Helvetica, Arial, sans-serif;
		}
		.banner-principal .text-input .form-search .form-content form .summit-search
		{
			display: none;
		}
}

@media screen and (min-width: 481px) and (max-width: 610px) {
		.banner-principal .text-input
		{
			margin-top: 20px;
			padding-top: 10px;
		}
		.banner-principal .text-input .text-banner h1
		{
			font-size: 25px;
		}
		.banner-principal .text-input .text-banner h2
		{
			display: none;
		}
		.banner-principal .text-input .form-search .form-content form .background-search{
			width: 100%;
			padding: 10px 0;
		}
		.banner-principal .text-input .form-search .form-content form .background-search input{
			font-size: 13.5px;
			width: 80%;
			font-family: Helvetica, Arial, sans-serif;
		}
		.banner-principal .text-input .form-search .form-content form .summit-search
		{
			display: none;
		}
}

@media screen and (min-width: 361px) and (max-width: 480px) {
		.banner-principal .text-input
		{
			margin-top: 15px;
			padding-top: 10px;
		}
		.banner-principal .text-input .text-banner h1
		{
			font-size: 20px;
		}
		.banner-principal .text-input .text-banner h2
		{
			display: none;
		}
		.banner-principal .text-input .form-search .form-content form .background-search{
			width: 100%;
			padding: 8px 0;
		}
		.banner-principal .text-input .form-search .form-content form .background-search input{
			font-size: 13.5px;
			width: 80%;
			font-family: Helvetica, Arial, sans-serif;
		}
		.banner-principal .text-input .form-search .form-content form .summit-search
		{
			display: none;
		}
}

@media screen and (max-width: 360px) {
		.banner-principal .text-input
		{
			margin-top: 10px;
		}
		.banner-principal .text-input .text-banner h1
		{
			display: none;
		}
		.banner-principal .text-input .text-banner h2
		{
			display: none;
		}
		.banner-principal .text-input .form-search .form-content form .background-search{
			width: 100%;
			padding: 8px 0;
		}
		.banner-principal .text-input .form-search .form-content form .background-search input{
			font-size: 12px;
			width: 80%;
			font-family: Helvetica, Arial, sans-serif;
		}
		.banner-principal .text-input .form-search .form-content form .summit-search
		{
			display: none;
		}
}

/* FIN: ESTILOS DEL BANNER PRINCIPAL */

/*INICIO: ESTILOS DEL BOX-LEFT*/
.principal_box
{
	padding:40px 10px;
}
.principal_box .links
{
	display: inline-block;
	vertical-align: top;
	/*padding: 10px;
	background: white;*/
	width: 190px;
	font-size: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.principal_box .links ul li
{
	list-style: none;
	padding-bottom: 15px;
}
.principal_box .links ul .li_active a
{
	font-weight: bold;
	font-size: 16px;
}
.principal_box .content_links
{
	display: inline-block;
	vertical-align: top;
	width: 60%;
}
.principal_box .content_links .top_li
{
	padding-bottom: 12px;
	border-bottom: 2px solid rgb(224, 224, 224);
	margin-bottom: 20px;
	display: inline-block;
}
.principal_box .content_links .top_li p
{
	font-size: 20px;
	color: #565a5c;
	font-weight: bold;
	display: inline-block;
}
.principal_box .content_links .middle_li p
{
	color: rgb(90, 90, 90);
}
.principal_box .content_links .bottom_li
{
	margin-top: 40px;
}
/*FIN: ESTILOS DEL BOX-LEFT*/

@media screen and (max-width: 677px) {
		.principal_box .content_links
		{
			display: block;
			width: auto;
		}
}



/* INICIO: ESTILOS DEL CALL TO ACTION:REGISTER */
.text
{
	padding: 10px 0;
	margin-top: 30px;
}
.text .big, .text .small
{
	text-align: center;
	padding: 2px;
	font-family: Helvetica, Arial, sans-serif;
	color: rgb(73, 73, 73);
	font-weight: bold;
}
.social-sign-up
{
	text-align: center;
	margin-bottom: 30px;
	max-width: 240px;
}
.social-sign-up a
{
	margin: 0 auto;
}
.social-sign-up li
{
	display: inline-block;
	list-style: none;
	padding: 10px;
	margin-bottom: 15px;
	max-width: 210px;
}
.social-sign-up .fb
{
	background: #297fb8;
	border: 1px solid #47637a;
	color: white;
	min-width: 210px;
	cursor: pointer;
}
.social-sign-up .go
{
	background: #d03a3c;
	border: 1px solid #a0393a;
	color: white;
	min-width: 210px;
	cursor: pointer;
}
.social-sign-up .in
{
	background: #1a97bb;
	border: 1px solid #07617A;
	color: white;
	min-width: 210px;
	cursor: pointer;
}
.social-sign-up li i
{
	margin-right: 10px;
}
.social-sign-up li i,.social-sign-up li p
{
	display: inline-block;
	font-size: 16px;
}
.social-sign-up li i,.social-sign-up li a
{
	color: white;
}

@media screen and (min-width: 811px) {
	.text .big
	{
		font-size: 40px;
	}
	.text .small
	{
		font-size: 25px;
	}
}

@media screen and (min-width: 560px) and (max-width: 810px) {
	.text .big
	{
		font-size: 35px;
	}
	.text .small
	{
		font-size: 20px;
	}
}

@media screen and (min-width: 461px) and (max-width: 559px) {
	.text .big
	{
		font-size: 30px;
	}
	.text .small
	{
		font-size: 19px;
	}
}

@media screen and (min-width: 300px) and (max-width: 460px) {
	.text .big
	{
		font-size: 25px;
	}
	.text .small
	{
		font-size: 19px;
	}
}

@media screen and (max-width: 299px) {
	.text .big
	{
		font-size: 18px;
	}
	.text .small
	{
		font-size: 15px;
	}
	.social-sign-up li
	{
		display: inline-block;
		padding: 5px;
		margin: 5px 5px;
	}
	.social-sign-up .in
	{
		background: #1a97bb;
		border: 1px solid #07617A;
		color: white;
		min-width: 210px;
	}
	.social-sign-up li i,.social-sign-up li p
	{
		display: inline-block;
		font-size: 13px;
	}
	.text {
		margin-top: 10px;
	}
}
/* FIN: ESTILOS DEL CALL TO ACTION:REGISTER */